<div class="ground">

			<div class="line1"></div>

			<div class="line2"></div>
			


		<ul id="placeholder">
				<li >
				<img class="event1" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>

				<li>
				<img class="event2" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>

				<li>
				<img class="event3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>

				<li>
				<img class="event4" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>
			</ul>
			<div id="second">
			<div class="line3"></div>
			<div class="line4"></div>
				<ul>
					<li><img class="row2-event1" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img class="row2-event2" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img class="row2-event3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img class="row2-event4" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>
				</ul>
			</div>

			<div id="third">
			<div class="line5"></div>
			<div class="line6"></div>
				<ul>
					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>
				</ul>
			</div>

			<div id="fourth">
			<div class="line7"></div>
			<div class="line8"></div>
				<ul>
					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>
				</ul>
			</div>
	</div>>	