<!DOCTYPE html>
<html>
<head>
	<style>
	
	</style>
</head>
<body>
<div id="image">
		<img id="artist-spotify-pic" src="http://nick.mtvnimages.com/teennick-assets/videos/images/the-90s-are-all-that/doug/doug-the-beets.jpg?format=jpeg&matteColor=white">
</div>

</body>
</html>