<!-- this is parsing the Nokogiri page object for the artist name, then removing extra spaces at the beginning and end -->

<div id="play"></div>
<ul id="sideUL">
		<li class="sideTab"><button class="tab-button" id="musics">Top Songs</button></li>

		<li class="sideTab"><button class="tab-button" id="bios">Bio</button></li>

		<li class="sideTab"><button class="tab-button" id="recents">Recent Searches</button></li>
		

</ul>

		<div class="panel" id="someBio">
		<!-- this displays the artist's bio -->
		  <p><%= @artist_bio_page_object.css("div[class='text']").text.strip! %></p>
		</div>


		<div class="panel" id="someMusic">
		  		<div id="top_tracks">
						<h5>Select a Song:</h5>
						<ul id="tracks"></ul>
					</div>
		</div>


		<div id="someSearches" class="panel">
		  <p>
		  <% @queries.first(10).each do |q|  %>
		        <%= q.artist_name %><br>
		    <% end  %>
		  </p>
		</div>
