<div id="play"></div>

<ul id="sideUL">

		<li class="sideTab"><button class="tab-button" id="musics">Top Songs</button></li>

		<li class="sideTab"><button class="tab-button" id="bios">Bio</button></li>

		<li class="sideTab"><button class="tab-button" id="recents">Recent Searches</button></li>
		
</ul>


		<div class="panel" id="someBio">
		<!-- this displays the artist's bio -->
		  <div id="artist-bio">
  			<p><%= @artist.short_bio %>... <a href="<%= @artist_bio_page %>" target='_blank'>[See More]</a></p>
			</div>
		</div>


		<div class="panel" id="someMusic">
		  		<div id="top_tracks">
						<h5>Select a Song:</h5>
						<ul id="tracks"></ul>
					</div>
		</div>


		<div id="someSearches" class="panel">
		  <p>
		  <% @queries.first(10).each do |q|  %>
		        <%= q.artist_name %><br>
		    <% end  %>
		  </p>
		</div>