<div class="sky">
	<div class="row">
		<div class="col-md-4">
			<h1 class="headline">Bandly Tree</h1>
			<h2 class="subhead">Know Your Roots</h2>
		</div>
		</div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		</div class="col-md-4">
			<!-- <img class="tree" src="assets/music-tree1.jpg"> -->
			<img class="tree" src="assets/music-tree2.png">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>


<div class="row">
	<div class="ground">
		<h3>SEARCH BAR + SUBMIT BUTTON</h3>
	</div>
</div>

