// * {
	// margin: 0;
	// padding: 0;
// }

.headline {
	font-size: 60px;
	font-family: "Josefin Sans";
	// color: #724F4E;
	color: #43513E;
	// float: left;
	// background-color: red;
	margin-left: 10px;
	display: inline;
}

.subhead {
	font-size: 25px;
	font-family: "Futura";
	color: #769367;
	margin-left: 10px;
	margin-top: 0px;
	// float: left;
	// background-color: blue;
	// display: inline;
}

.sidebar {
	background: #629ACB;
	margin: 10px;
	border-radius: 5px;
	padding: 20px;
	float: right;
	width:150px;
	height:400px;
}

.sky {
	margin-top: 0;
	width: 100%;
	height: 200px;
	// background-color: #82B2B8;
	background-color: #7DC1F0;
	position: fixed;
}

.ground {
	// margin-top: 200px;
	width: 100%;
	height: 900px;
	background-color: #7D512A;
}

.tree {
	width: 525px;
	margin: 0 auto;
	margin-left: 30%;
	display: inline;
	// position: absolute;
	// position: relative;
	position: fixed;
	z-index: 2;
}

.test {
	margin-top: 250px;
	// margin-left: 400px;
	font-size: 40px;
	font-family: "Josefin Sans";
	text-align: center;
}



/*This styling is for the Partial--sidebar*/

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 150%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width:150%;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    overflow: scroll;
}

div.panel.show {
    opacity: 1;
    max-height: 100px;  
}

/* ********************************/

/*this is for the partial--image*/
	#image{
			background-color: blue;
			border-radius: 5px;
			width:285px;
			height:150px;
		}
/********************************/

/*this is for the partial--audio*/
		#div{
			background-color: yellow;
			border-radius: 5px;
			width:285px;
			height:64px;
		}
/***************************/

