.headline {
	font-size: 60px;
	font-family: "Josefin Sans";
	color: #43513E;
	margin-left: 10px;
	display: inline;
}

.subhead {
	font-size: 25px;
	font-family: "Futura";
	color: #769367;
	margin-left: 10px;
	margin-top: 0px;
}


#tree-content {
	border: 1px black solid;
	width: 80%;
	min-width: 900px;
	float: left;
	margin: 0;
	overflow: hidden;
}


.sky {
	background-image: url("https://media.giphy.com/media/26tOXQA6efiELXyTe/giphy.gif");
	background-size: 100%;
	background-position: center;
  width: 100vw;
  position: relative;
  z-index: 1;
  text-align: left;
}

.ground {
	background-image: url("https://staticdelivery.nexusmods.com/mods/130/images/57479-3-1416698486.jpg");
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.tree {
	width: 525px;
	margin: 0 auto;
	margin-left: 30%;
	position: fixed;
}

.influencers {
	font-size: 40px;
	font-family: "Josefin Sans";
	text-align: center;
	float: left;
	color: grey;

}

	

