.headline {
	font-size: 60px;
	font-family: "Josefin Sans";
	color: #43513E;
	margin-left: 10px;
	display: inline;
}

.subhead {
	font-size: 25px;
	font-family: "Futura";
	color: #769367;
	margin-left: 10px;
	margin-top: 0px;
}


#tree-content {
	border: 1px black solid;
	width: 80%;
	min-width: 900px;
	float: left;
	margin: 0;
	overflow: hidden;
}


.sky {
	background-image: url("http://static.tumblr.com/c7c17d722f1ef00d9e3ae30dc95cf8df/lwediyn/J3kneym00/tumblr_static_516g5yrv7kgsowgwkwgsw44s8.jpg");
	background-size: 100%;
	background-position: center;
  width: 80vw;
  position: relative;
  z-index: 1;
  text-align: center;
}

.ground {
	background-image: url("http://preview.turbosquid.com/Preview/2014/08/01__19_04_23/WP%20GRASS%20SOIL%20LAYERS.jpg279834f2-902c-497d-b28c-49414caa4403Original.jpg");
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  min-height: 600px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.tree {
	width: 525px;
}

// #influencers-wrapper {
// 	display: block;
// 	width: 100vw;
// }

.influencers {
	font-family: "Josefin Sans";
	font-size: 20px;
	text-align: center;
	background: white;
	display: inline-block;
	color: grey;
	width: 200px;
	height: 200px;
	padding: 10px;
}

.influencer-image {
	width: 180px;
}

