#artist-spotify-pic {
	width: 90%;
	border-radius: 15px;
	border: 5px white solid;
	margin-left: 15px;
}


#spotifyPlayer {
	border: 1px solid green;
	height: 80px;
	width: 300px;
	margin-top: 20px;
	margin-left: 40px;
}
